/* 共通 */
body {
  background-color: rgba(255, 248, 199, 0.575);
}

/* title */

#startButton {
  color: rgba(0, 0, 0, 0.733);
  height: 200px;
  width: 300px;
  display:flex;
  align-items: center; 
  justify-content: center;
  font-size: 50px;
  text-decoration: none;
  background-color: white;
  position: relative;
  border: none;
  border-radius: 90px;
  left: 35%;
}

.on {
  transform: translate(10px, 10px);
}
.off {
  transform: translate(0px, 0px);
}


#gameTitle {
  height: 50%;
  width: 50%;
}

#titleDog {
  height: 30%;
  width: 30%;
}

/* select */

#degreeOfDifficulty {
  height: 20%;
  width: 10%;
}

#selectBackButton, #gameStart, #resultBackButton{
  color: black;
  font-size: 20px;
  text-decoration: none;
  background-color: white;
  border: none;
  border-radius: 10%;
}

.selectImgSize {
  width: 30%;
}

#longDog {
  width: 576px;
  height: 192px;
}

#normalDog {
  width: 288px;
  height: 96px;
}

#shortDog {
  width: 96px;
  height: 96px;
}

#easy, #normal ,#difficult{
  width: 70%;
}

#cryDog {
  opacity: 50%;
  position: absolute;
  top: 10%;
  left: 65%;
  height: 80%;
}


#selectTable {
  background-color: white;
}

.selectTh {
  height: 100px;
  border: 1px dotted #e0e0e0;
}

.selectTab {
  width: 20%;
  background-color: blanchedalmond;
  border-radius: 20%;
}

/* game */
.gameMenu, #selectMenu {
  display: flex;
}

#gameDegreeOfDifficulty {
  height: 100px;
}

#gameDog {
  position: absolute;
  /* top: 256px;
  left: 0px; */
  top: 480px;
  left: 576px;
}

.gameFontSize {
  font-size: 30px;
  margin: auto;
}

/* 4方向*/

.human {
  height: 32px;
  width: 32px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0px;
  left: 576px;
} 


#gameMap {
  position: relative;
  background-color: white;
  height: 544px;
  width: 1184px;
  border: 2px solid #000000
}

/* result */
#result {
  text-align: center;
  font-size: 40px;
}

#resultTable {
  margin: auto;
}

#resultDog1 {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 25%;
}

#resultDog2 {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 25%;
}

#resultTable, th{
  border-radius: 10%;
  background-color: white;
  border: 1px dotted #e0e0e0;
}

